html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}
.sky {
  height: 40%;
  background: skyblue;
}
.grass {
  height: 30%;
  background: seagreen;
}
.road {
  height: 30%;
  background: white;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed black;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario {
  position: absolute;
  top: 10px;
  left: 0;
  animation-name: walk;
  animation-duration: 3s;
  animation-direction: normal;
}

.mario1 {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: white;
  animation-name: walk;
  animation-delay: 1s;
  animation-direction: normal;
  animation-duration: 3s;
}

@keyframes walk {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1200px);
  }
}
